



a.searchOverall{
	background-color:#019875;
	text-decoration: none;
	position:absolute;
	
	left:900px;
	top:80px;
	padding-left:50px;
	padding-right:40px;
	padding-top:5px;
	padding-bottom:5px;
	letter-spacing:20px;
}

a.searchOverall:link {color:white;}    /* δ�����ʵ����� */
a.searchOverall:visited {color:black;} /* �ѱ����ʵ����� */
a.searchOverall:hover {color:#D5D7D7;}   /* ���ָ���ƶ��������� */
a.serachOverall:active {color:#D5D7D7;}  /* ���ڱ���������� */

input.searchOverall{
	
	
	padding-right:80px;
	
	padding-bottom:8px;
	position:absolute;
	left:600px;
	top:80px;
}
.goodsType{
	position:absolute;
	left:20px;
	top:50px;
}

#goodsList{
	position:absolute;
	left:500px;
	top:230px;
}