



a.searchOverall{
	background-color:#019875;
	text-decoration: none;
	position:absolute;
	
	left:900px;
	top:80px;
	padding-left:50px;
	padding-right:40px;
	padding-top:5px;
	padding-bottom:5px;
	letter-spacing:20px;
	
	
}

a.searchOverall:link {color:white;}    /* 未被访问的链接 */
a.searchOverall:visited {color:black;} /* 已被访问的链接 */
a.searchOverall:hover {color:#D5D7D7;}   /* 鼠标指针移动到链接上 */
a.serachOverall:active {color:#D5D7D7;}  /* 正在被点击的链接 */

input.searchOverall{
	
	
	padding-right:80px;
	
	padding-bottom:8px;
	position:absolute;
	left:600px;
	top:80px;
}
.goodsType{
	position:absolute;
	left:20px;
	top:50px;
}

#goodsList{
	position:absolute;
	left:500px;
	top:230px;
}