



a.searchOverall{
	background-color:#77D3BE;
	text-decoration: none;
	position:absolute;
	
	left:700px;
	top:100px;
	padding-left:50px;
	padding-right:40px;
	padding-top:5px;
	padding-bottom:3px;
	letter-spacing:20px;
	font-family: 微软雅黑;
	font-weight:bold;
	
}

a.searchOverall:link {color:white;}    /* 未被访问的链接 */
a.searchOverall:visited {color:white;} /* 已被访问的链接 */
a.searchOverall:hover {color:white; background-color:#019875;}   /* 鼠标指针移动到链接上 */
a.serachOverall:active {color:white; background-color:#019875;}  /* 正在被点击的链接 */


.typeList:link {color:#019875;}    /* 未被访问的链接 */
.typeList:visited {color:#019875;} /* 已被访问的链接 */
.typeList:hover {color:#019875; background-color:white;}   /* 鼠标指针移动到链接上 */
.typeList:active {color:#019875;background-color:white;}  /* 正在被点击的链接 */

.sea-min-price{
	position:absolute;
	left:400px;
	top:135px;
	padding-right:50px;
}
.sea-max-price{
	position:absolute;
	left:640px;
	top:135px;
	padding-right:50px;
}
input.searchOverall{
	
	
	padding-right:125px;
	
	padding-bottom:8px;
	position:absolute;
	left:400px;
	top:100px;
}


.goodsType{

    position:absolute;
    left:60px;
    top:120px;
	text-decoration:none;
}

.typeList{

	padding-left:80px;
	padding-right:70px;
    
    
   
    
	line-height:300%;
	font-family:微软雅黑;
	list-style-type:none;
	text-decoration:none;
	background-color:#FAFAFA;
	
	
}

.typeList[selected]{
	background-color:white;
	border-top-style:solid;
	border-bottom-style:solid;
	border-top-width:2px;
	border-bottom-width:2px;
	border-color:#D9D8C9;
	padding-left:80px;
	padding-right:70px;
	
}

.goods-type{
	

	text-decoration:none;
    color:#019875;
	
	
}

#goodsList{
	position:absolute;
	left:350px;
	top:180px;
	background-color:#FAFAFA;
	padding-left:10px;
	padding-right:60px;

}